<div style="background-color: azure;">
  <p>numero 1</p>
  <input type="number" [value]="num1" #num1><br><br>
  <p>numero 2</p>
  <input type="number" [value]="num2" #num2><br><br>
  <button (click)="addizione(num1.value, num2.value)">(+)</button>
  <button (click)="sottrazione(num1.value, num2.value)">(-)</button>
  <button (click)="moltiplicazione(num1.value, num2.value)">(*)</button>
  <button (click)="divisione(num1.value, num2.value)">(/)</button>
  <p>{{res}}</p>
</div>
<app-result></app-result>